In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
data =pd.read_csv("Air Conditioners.csv")

In [64]:
data.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,appliances,Air Conditioners,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [65]:
data.nunique()

name              708
main_category       1
sub_category        1
image             635
link              720
ratings            31
no_of_ratings     187
discount_price    295
actual_price      296
dtype: int64

In [66]:
data=data.drop(["main_category","sub_category"],axis=1)

In [67]:
data.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,"2,255","₹32,999","₹58,990"
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,"2,948","₹46,490","₹75,990"
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,"1,206","₹34,490","₹61,990"
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,"₹37,990","₹68,990"
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,"₹34,490","₹67,790"

In [68]:
data.isna().sum()

name                0
image               0
link                0
ratings           287
no_of_ratings     287
discount_price    263
actual_price      220
dtype: int64

In [69]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   image           720 non-null    object
 2   link            720 non-null    object
 3   ratings         433 non-null    object
 4   no_of_ratings   433 non-null    object
 5   discount_price  457 non-null    object
 6   actual_price    500 non-null    object
dtypes: object(7)
memory usage: 39.5+ KB

In [70]:
data["ratings"]

0      4.2
1      4.2
2      4.2
3      4.0
4      4.1
      ...
715    NaN
716    NaN
717    NaN
718    2.8
719    2.5
Name: ratings, Length: 720, dtype: object

In [71]:
data["ratings"]=data["ratings"].fillna("0")

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   image           720 non-null    object
 2   link            720 non-null    object
 3   ratings         720 non-null    object
 4   no_of_ratings   433 non-null    object
 5   discount_price  457 non-null    object
 6   actual_price    500 non-null    object
dtypes: object(7)
memory usage: 39.5+ KB

In [73]:
data.isnull().sum()

name                0
image               0
link                0
ratings             0
no_of_ratings     287
discount_price    263
actual_price      220
dtype: int64

In [74]:
data[["no_of_ratings","discount_price","actual_price"]]=data[["no_of_ratings","discount_price","actual_price"]].fillna("0")

In [75]:
data.isna().sum()

name              0
image             0
link              0
ratings           0
no_of_ratings     0
discount_price    0
actual_price      0
dtype: int64

In [76]:
data.loc[data["ratings"]=='Get',:]

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
437,Daikin 1.8 Ton 3 Star Inverter Split Ac (Coppe...,https://m.media-amazon.com/images/I/51hn7NHS3T...,https://www.amazon.in/Daikin-Inverter-Copper-F...,Get,Only 2 left in stock.,"₹59,979","₹72,900"
473,Master Electronic provides Window AC 3-Star 1....,https://m.media-amazon.com/images/I/41B0LWORAr...,https://www.amazon.in/Master-Electronic-provid...,Get,Only 1 left in stock.,"₹36,999","₹39,999"
474,Master Electronic provides 1.5 Ton 3 Star Dust...,https://m.media-amazon.com/images/I/61yVE5P7FU...,https://www.amazon.in/Master-Electronic-provid...,Get,Only 1 left in stock.,"₹36,999","₹39,666"
475,Master Electronics Provides 1 Ton 3 Star Inver...,https://m.media-amazon.com/images/I/11mMBc5fl2...,https://www.amazon.in/Master-Electronics-Provi...,Get,Only 1 left in stock.,"₹46,999","₹49,666"
488,"1.5 Ton 5 Star Inverter Split AC, White",https://m.media-amazon.com/images/I/11au-UO4sB...,https://www.amazon.in/1-5-Star-Inverter-Split-...,Get,Only 2 left in stock.,"₹45,000","₹50,000"
499,SUHANA snow falls Best 5 Star 1.5 Ton Air Cond...,https://m.media-amazon.com/images/I/31QQZehTYc...,https://www.amazon.in/SUHANA-snow-falls-Condit...,Get,Only 1 left in stock.,"₹40,000","₹55,956"
582,MEGACOOL CENTRE-Dakin 1.5 Ton 3 Star Fixed Spe...,https://m.media-amazon.com/images/I/21pJ7D2fWm...,https://www.amazon.in/MEGACOOL-CENTRE-Dakin-Fi...,Get,Only 1 left in stock.,"₹65,000","₹1,30,000"
595,Heavy Duty Air Conditioner Outdoor Ac stand,https://m.media-amazon.com/images/I/51mvmI9NjU...,https://www.amazon.in/Heavy-Duty-Conditioner-O...,Get,Only 2 left in stock.,₹899,"₹1,750"
639,Blue Star 1.5 Tr 3 Star Fixed Speed Split AC (...,https://m.media-amazon.com/images/I/31Tci462W1...,https://www.amazon.in/Blue-Star-Fixed-Copper-F...,Get,Only 1 left in stock.,"₹39,990","₹52,500"
643,Daikin 1.8 Ton 3 Star Inverter Split AC (Coppe...,https://m.media-amazon.com/images/I/61+ky9zVBZ...,https://www.amazon.in/Daikin-Inverter-Split-Co...,Get,Only 1 left in stock.,"₹54,590","₹72,900"

In [77]:
data.loc[data["ratings"]=='Get',"ratings"]="0.0"

In [78]:
data["actual_price"]=data["actual_price"].str.replace(",","")

In [79]:
data["actual_price"]=data["actual_price"].str.replace("₹","")
data["discount_price"]=data["discount_price"].str.replace("₹","")
data["discount_price"]=data["discount_price"].str.replace(",","")
data["no_of_ratings"]=data["no_of_ratings"].str.replace(",","")

In [80]:
data.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999,58990
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490,75990
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490,61990
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990,68990
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490,67790

In [81]:
data["discount_price"]=data["discount_price"].astype(float)
data["actual_price"]=data["actual_price"].astype(float)
data["ratings"]=data["ratings"].astype(float)

In [82]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   image           720 non-null    object
 2   link            720 non-null    object
 3   ratings         720 non-null    float64
 4   no_of_ratings   720 non-null    object
 5   discount_price  720 non-null    float64
 6   actual_price    720 non-null    float64
dtypes: float64(3), object(4)
memory usage: 39.5+ KB

In [83]:
data["no_of_ratings"].unique()

array(['2255', '2948', '1206', '69', '630', '1666', '1097', '1494', '674',
       '801', '558', '730', '5073', '568', '3670', '312', '88', '432',
       '268', '2', '700', '540', '258', '2178', '0', '1444', '360', '38',
       '1208', '341', '3', '15', '925', '3604', '42', '22', '94', '1866',
       '292', '1830', '8', '536', '201', '2722', '202', '23', '1195', '5',
       '66', '474', '502', '686', '1183', '56', '1', '49', '212', '79',
       '468', '317', '45', '142', '451', '145', '265', '3157', '274',
       '39', '178', '655', '81', '43', '234', '134', '97', '229', '12',
       '748', '926', '62', '14', '440', '85', '260', '118', '172', '387',
       '195', '7', '158', '9', '10', '1295', '16', '303', '120', '55',
       '27', '34', '37', '1573', '29', '6', '112', '200', '11', '121',
       '886', '209', '4', '207', '622', '31', '192', '40', '101', '96',
       '70', '259', '1400', '288', '13', '51', '175', '114', '567', '187',
       '21', '1832', '563', '24', '769', '542', '297', '329', '20', '156',
       '26', '485', '9577', '302', '255', '1420', '169', '3562', '224',
       '25', '449', '218', '913', '373', '776', '60', '54', '19', '74',
       '17', '213', '430', '591', '247', '41', '222', '71', '290', '65',
       '18', '32', '130', '416', '64', '119', '59', '68', '36', '164',
       '77', '47', '98', 'Only 2 left in stock.', 'Only 1 left in stock.',
       '581', '398', '774', '232', '44', '50', '296'], dtype=object)

In [84]:
data.loc[data["no_of_ratings"]=='Only 2 left in stock.',"no_of_ratings"]="0"

In [85]:
data.loc[data["no_of_ratings"]=='Only 1 left in stock.',"no_of_ratings"]="0"

In [86]:
data["no_of_ratings"]=data["no_of_ratings"].astype(int)

In [87]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            720 non-null    object
 1   image           720 non-null    object
 2   link            720 non-null    object
 3   ratings         720 non-null    float64
 4   no_of_ratings   720 non-null    int64
 5   discount_price  720 non-null    float64
 6   actual_price    720 non-null    float64
dtypes: float64(3), int64(1), object(3)
memory usage: 39.5+ KB

In [88]:
data.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0

In [89]:
avg_ratings=data.loc[data["ratings"]!=0,"ratings"].mean().round(1)

In [90]:
avg_ratings

np.float64(3.8)

In [91]:
data.loc[data["ratings"]== 0.0,"ratings"]=avg_ratings

In [92]:
data["ratings"].unique()

array([4.2, 4. , 4.1, 4.3, 3.9, 3.8, 3.5, 4.6, 3.3, 3.4, 3.7, 2.9, 5. ,
       4.4, 3.6, 2.7, 4.5, 3. , 3.1, 3.2, 4.8, 4.7, 2.5, 1. , 2.6, 2.8,
       2.3, 1.7, 1.8, 2.4])

In [93]:
avg_no_ratings=data.loc[data["no_of_ratings"]!=0,"no_of_ratings"].mean().round(0)

In [94]:
avg_no_ratings

np.float64(245.0)

In [95]:
data.loc[data["no_of_ratings"]==0 ,"no_of_ratings"]=avg_no_ratings

In [96]:
data["no_of_ratings"].astype(int)

0      2255
1      2948
2      1206
3        69
4       630
       ...
715     245
716     245
717     245
718     207
719     296
Name: no_of_ratings, Length: 720, dtype: int64

In [97]:
avg_discount_prize=data.loc[data["discount_price"]!=0,"discount_price"].mean().round(2)
avg_discount_prize

np.float64(40756.01)

In [98]:
data.loc[data["discount_price"]==0,"discount_price"]=avg_discount_prize

In [99]:
avg_actual_prize=data.loc[data["actual_price"]!=0,"actual_price"].mean().round(2)
avg_actual_prize

np.float64(54815.23)

In [100]:
data.loc[data["actual_price"]==0,"actual_price"]=avg_discount_prize

In [101]:
data.loc[data["actual_price"]==0,:]

Empty DataFrame
Columns: [name, image, link, ratings, no_of_ratings, discount_price, actual_price]
Index: []

In [102]:
data.head()

,name,image,link,ratings,no_of_ratings,discount_price,actual_price
0,Lloyd 1.5 Ton 3 Star Inverter Split Ac (5 In 1...,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0
1,LG 1.5 Ton 5 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0
2,LG 1 Ton 4 Star Ai Dual Inverter Split Ac (Cop...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0
3,LG 1.5 Ton 3 Star AI DUAL Inverter Split AC (C...,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0
4,Carrier 1.5 Ton 3 Star Inverter Split AC (Copp...,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0

In [103]:
data["brand_name"]=data["name"].str.split(" ").str[0]

In [104]:
data["Ton"]=data["name"].str.split(" ").str[1]

In [105]:
data["Electricity_Stars"]=data["name"].str.split(" ").str[3]

In [106]:
data["more_inf0"]=data["name"].str.split(" ").str[5:]

In [107]:
data=data.drop("name",axis=1)

In [108]:
data.head()

,image,link,ratings,no_of_ratings,discount_price,actual_price,brand_name,Ton,Electricity_Stars,more_inf0
0,https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...,4.2,2255,32999.0,58990.0,Lloyd,1.5,3,"[Inverter, Split, Ac, (5, In, 1, Convertible,,..."
1,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.2,2948,46490.0,75990.0,LG,1.5,5,"[AI, DUAL, Inverter, Split, AC, (Copper,, Supe..."
2,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...,4.2,1206,34490.0,61990.0,LG,1,4,"[Ai, Dual, Inverter, Split, Ac, (Copper,, Supe..."
3,https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...,4.0,69,37990.0,68990.0,LG,1.5,3,"[AI, DUAL, Inverter, Split, AC, (Copper,, Supe..."
4,https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...,4.1,630,34490.0,67790.0,Carrier,1.5,3,"[Inverter, Split, AC, (Copper,ESTER, Dxi,, 4-i..."

In [109]:
data=data[['brand_name', 'Ton', 'Electricity_Stars','ratings', 'no_of_ratings', 'discount_price',
       'actual_price','more_inf0','image', 'link']]

In [110]:
data.head()

,brand_name,Ton,Electricity_Stars,ratings,no_of_ratings,discount_price,actual_price,more_inf0,image,link
0,Lloyd,1.5,3,4.2,2255,32999.0,58990.0,"[Inverter, Split, Ac, (5, In, 1, Convertible,,...",https://m.media-amazon.com/images/I/31UISB90sY...,https://www.amazon.in/Lloyd-Inverter-Convertib...
1,LG,1.5,5,4.2,2948,46490.0,75990.0,"[AI, DUAL, Inverter, Split, AC, (Copper,, Supe...",https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...
2,LG,1,4,4.2,1206,34490.0,61990.0,"[Ai, Dual, Inverter, Split, Ac, (Copper,, Supe...",https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Inverter-Convertible-...
3,LG,1.5,3,4.0,69,37990.0,68990.0,"[AI, DUAL, Inverter, Split, AC, (Copper,, Supe...",https://m.media-amazon.com/images/I/51JFb7FctD...,https://www.amazon.in/LG-Convertible-Anti-Viru...
4,Carrier,1.5,3,4.1,630,34490.0,67790.0,"[Inverter, Split, AC, (Copper,ESTER, Dxi,, 4-i...",https://m.media-amazon.com/images/I/41lrtqXPiW...,https://www.amazon.in/Carrier-Inverter-Split-C...

In [111]:
data.iloc[1,-1]

'https://www.amazon.in/LG-Convertible-Anti-Virus-Protection-RS-Q19YNZE/dp/B0BQ3MXML8/ref=sr_1_5?qid=1679134237&s=kitchen&sr=1-5'

In [112]:
data.to_csv("cleaned_AC_data.csv")