In [1]:
import numpy as np

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
data = pd.read_csv("cleaning_ex3.csv")

In [14]:
data.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,Sector,Revenue,company_age,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,27,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),52,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),39,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),20,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,22,na

In [50]:
data.tail()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,seniority,minimum_employees,maximum_employees,minium_salary,maximum_salary,average_salary,Province,State,Province_HQ,State_HQ
655,Data Scientist,105-167,Summary\n\nWe’re looking for a data scientist ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,Company - Private,Advertising & Marketing,...,na,1001,5000,105,167,136.0,NJ,Fort Lee,NJ,Fort Lee
656,Data Scientist,105-167,Job Description\nBecome a thought leader withi...,0.0,JKGT,"San Francisco, CA","San Francisco, CA",0 to 0 employees,-1,-1,...,na,0,0,105,167,136.0,CA,San Francisco,CA,San Francisco
657,Data Scientist,105-167,Join a thriving company that is changing the w...,0.0,AccessHope,"Irwindale, CA","Irwindale, CA",0 to 0 employees,-1,-1,...,na,0,0,105,167,136.0,CA,Irwindale,CA,Irwindale
658,Data Scientist,105-167,100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,Company - Private,Advertising & Marketing,...,na,1,50,105,167,136.0,CA,San Francisco,CA,Santa Clara
659,Data Scientist,105-167,Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,Company - Public,Wholesale,...,na,1001,5000,105,167,136.0,NY,New York,NY,Carle Place

In [23]:
data["Size"].unique()

array(['1001 to 5000 employees', '5001 to 10000 employees',
       '501 to 1000 employees', '51 to 200 employees',
       '10000 to 10000+ employees', '201 to 500 employees',
       '1 to 50 employees', '0 to 0 employees'], dtype=object)

In [20]:
data.loc[data["Size"]== "-1","Size"] ="0 to 0 employees"

In [18]:
data.loc[data["Size"]== "Unknown","Size"] ="0 to 0 employees"

In [22]:
data.loc[data["Size"]== "10000+ employees","Size"] ="10000 to 10000+ employees"

In [24]:
data["minimum_employees"]=data["Size"].str.split(" ").str[0]

In [26]:
data["maximum_employees"]=data["Size"].str.split(" ").str[2]

In [34]:
data["Revenue"].unique()

array(['$1 million', '$1 to $2 billion (USD)',
       '$100 to $500 million (USD)', '$10+ billion (USD)',
       '$2 to $5 billion (USD)', '$500 million to $1 billion (USD)',
       '$5 to $10 billion (USD)', '$10 to $25 million (USD)',
       '$25 to $50 million (USD)', '$50 to $100 million (USD)',
       '$1 to $5 million (USD)', '$5 to $10 million (USD)',
       'Less than $1 million (USD)'], dtype=object)

In [30]:
data.loc[data["Revenue"]=="Unknown / Non-Applicable","Revenue"]="$1 million"

In [31]:
data.loc[data["Revenue"]=="-1","Revenue"]="$1 million"

In [33]:
# the_revenue_list = ['Unknown / Non-Applicable', '-1']

# for x in the_revenue_list:
#     data.loc[data["Revenue"]==x,"Revenue"]="$1 million"

In [36]:
data["Salary Estimate"].unique()

array(['137-171 ', '75-131 ', '79-131 ', '99-132 ', '90-109 ', '101-165 ',
       '56-97 ', '79-106 ', '71-123 ', '90-124 ', '91-150 ', '141-225 ',
       '145-225', '79-147 ', '122-146 ', '112-116 ', '110-163 ',
       '124-198 ', '79-133 ', '69-116 ', '31-56 ', '95-119 ', '212-331 ',
       '66-112 ', '128-201 ', '138-158 ', '80-132 ', '87-141 ', '92-155 ',
       '105-167 '], dtype=object)

In [37]:
data["minium_salary"]=data["Salary Estimate"].str.split("-").str[0]

In [38]:
data["maximum_salary"]=data["Salary Estimate"].str.split("-").str[1]

In [40]:
data["minium_salary"]=data["minium_salary"].astype(int)

In [41]:
data["maximum_salary"]=data["maximum_salary"].astype(int)

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Job Title          660 non-null    object
 1   Salary Estimate    660 non-null    object
 2   Job Description    660 non-null    object
 3   Rating             660 non-null    float64
 4   Company Name       660 non-null    object
 5   Location           660 non-null    object
 6   Headquarters       660 non-null    object
 7   Size               660 non-null    object
 8   Type of ownership  660 non-null    object
 9   Industry           660 non-null    object
 10  Sector             660 non-null    object
 11  Revenue            660 non-null    object
 12  company_age        660 non-null    int64
 13  seniority          660 non-null    object
 14  minimum_employees  660 non-null    object
 15  maximum_employees  660 non-null    object
 16  minium_salary      660 non-null    int64
 17  maximum_salary     660 non-null    int64
dtypes: float64(1), int64(3), object(14)
memory usage: 92.9+ KB

In [43]:
data["average_salary"]=(data["maximum_salary"]+data["minium_salary"])/2

In [45]:
data["Province"]=data["Location"].str.split(",").str[1]
data["State"]=data["Location"].str.split(",").str[0]

In [47]:
data.loc[data["Headquarters"]== "-1","Headquarters"] = data["Location"]

In [49]:
data["Province_HQ"]=data["Headquarters"].str.split(",").str[1]
data["State_HQ"]=data["Headquarters"].str.split(",").str[0]